body{
    position: relative;
}
/*p:hover{
    cursor: pointer;
}*/
.nav{
    width: 1920px;
    height: 100px;
    background-color: #2A2B35;
    /*background: url("../images/nav_bg2.png");*/
    position: fixed;
    opacity: 0.8;
    color: white;
    display: flex;
    font-family: '微软雅黑';
}
.logo{
    position: relative;
    margin-left: 380px;
}
.logo:hover{
    cursor: pointer;
}
.logo p{
    line-height: 33px;
    margin-left: 5px;
    font-size: 16px;
}
.nav_ul{
    display: flex;
    margin-left: 355px;
}
.nav_li{
    font-size: 16px;
    line-height: 130px;
    margin-left: 53px;
}
.nav_li:hover{
    color: #C1A164;
    cursor: pointer;
    font-weight: 600;
}

/*顶部轮播遮罩层*/
.overlay{
    width: 750px;
    height: 430px;
    background-color: #2A2B35;
    opacity: 0.7;
    position: absolute;
    left: 585px;
    top: 265px;
    /*text-align: center;*/
    color: white;
}
.overlay_img1{
    margin-left: 255px;
    margin-top: -77px;
}
.overlay_img2{
    margin-left: 290px;
    margin-top: 20px;
}
.overlay_p1{
    font-size: 60px;
    text-align: center;
}
.overlay_p2{
    font-size: 32px;
    text-align: center;
    line-height: 80px;
}
.overlay_line{
    width: 203px;
    height: 6px;
    background-color: white;
    margin: 10px auto; 
}
.overlay_p3{
    font-size: 24px;
    text-align: center;
    line-height: 100px;
}

/*预约查询*/
.search{
    width: 1920px;
    height: 200px;
    background-color: #C3A469;
    position: relative;
}
.search_black{
    width: 800px;
    height: 200px;
    background-color: #000000;
    color: white;
    position: absolute;
    top: 30px;
    font-size: 26px;
    font-family: '宋体'
}
.search_p1{
    margin-left: 385px;
    margin-top: 70px;
}
.search_p2{
    margin-left: 480px;
    margin-top: 26px;
}
.search_p3{
    margin-left: 840px;
    line-height: 140px;
    font-size: 24px;
    color: white;
}
.search_input{
    width: 430px;
    height: 50px;
    border: 1px solid white;
    position: absolute;
    left: 840px;
    top: 100px;
}
.srarch_img1{
    position: absolute;
    top: 108px;
    left: 1220px;
}
.srarch_img2{
    position: absolute;
    top: 108px;
    left: 1320px;
}
.search_p4{
    color: white;
    font-size: 18px;
    position: absolute;
    top: 113px;
    left: 1375px;
}

/*热门房间*/
.main_top{
    width: 1240px;
    height: 657px;
    /*background-color: gray;*/
    margin-left: 340px;
    margin-top: 50px;
}
.top_p1{
    font-size: 36px;
    color: #C3A469;
    text-align: center;
    position: relative;
    top: 20px;
    word-spacing: 3px;
}
.top_p2{
    font-size: 42px;
    color: #EEDCBB;
    text-align: center;
    position: relative;
    top: 14px;
    letter-spacing: 10px;
}
.top_p3{
    font-size: 18px;
    color: #363636;
    text-align: center;
    position: relative;
    top: 15px;
}
/**/
.top_hot{
    width: 1240px;
    height: 530px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
}
.top_detail{
    width: 580px;
    height: 220px;
    display: flex;
    margin: 22.5px 20px;
    background-color: #C3A469;
}
.top_direction{
    padding: 10px;
    padding-top: 20px;
    color: #F1EBE1;
}
.detail_p1{
    font-size: 16px;
}
.detail_p2{
    font-size: 18px;
    line-height: 40px;
}
.detail_p3{
    font-size: 12px;
    letter-spacing: 0.2px;
    /*line-height: 40px;*/
}
.detail_more{
    font-size: 14px;
    border: 1px solid #9F8045;
    background-color: #C3A469;
    text-align: center;
    width: 80px;
    height: 28px;
    line-height: 28px;
    margin-top: 13px;
    color: #F1EBE1;
}
.detail_more:hover{
    background-color: #9F8045;
}

/*特价*/
.special{
    width: 1920px;
    height: 400px;
    background: url('../images/special_bg.png');
    margin-top: 70px;
    color: #FEFEFE;
}
.special_p1{
    font-size: 24px;
    text-align: center;
    line-height: 50px;
}
.sp{
    padding-top: 52px;
}
.special_p2{
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    line-height: 60px;
}
.special_more{
    font-size: 14px;
    border: 1px solid #9F8045;
    text-align: center;
    width: 80px;
    height: 28px;
    line-height: 28px;
    color: #F1EBE1;

    margin: 0px auto;
    margin-top: 52px;
    /*清除背景颜色*/
    background-color: transparent;
}
.special_more:hover{
    background-color: #9F8045;
}

/*底部新闻-关于某某模块*/
.about{
    width: 1200px;
    height: 817px;
    margin-top: 18px;
    /*background-color: red;*/
    margin-left: 360px;
}
.about_header{
    width: 1200px;
    height: 82px;
    display: flex;
}
.about_header_left{
    font-size: 24px;
    line-height: 82px;
    margin-left: 20px;
}
.about_header_middle{
    width: 120px;
    height: 24px;
    font-size: 14px;
    line-height: 24px;
    margin-top: 29px;
    margin-left: 8px;
    text-align: center;
    color: #FEFEFE;
    background-color: #CCCCCC;
}
.about_header_right{
    width: 80px;
    height: 28px;
    font-size: 14px;
    line-height: 28px;
    margin-top: 27px;
    margin-left: 855px; 
    text-align: center;
    color: #9F8045;
    border: 1px solid #9F8045;
}
.about_header_right:hover{
    color: #F1EBE1;
    background-color: #9F8045;
}
.about_middle{
      width: 1200px;
      height: 425px;
      display: flex;
}
.middle_left{
       width: 652px;
       height: 425px;
}
.about_p1{
    font-size: 24px;
    line-height: 60px;
    padding: 5px;
}
.about_p2{
    color: #666666;
    font-size: 14px;
    line-height: 27px;
    padding: 5px;
    margin-top: -15px;
}
.about_more{
    font-size: 14px;
    border: 1px solid #9F8045;
    text-align: center;
    width: 80px;
    height: 28px;
    line-height: 28px;
    color: #9F8045;
    margin-top: -20px;
    margin-left: 563px;
    
}
.about_more:hover{
    color: #F1EBE1;
    background-color: #9F8045;
}
.middle_right{
    width: 500px;
    height: 400px;
    margin-left: 50px;
    margin-top: -23px;
}
.right_everyone{
    width: 100%;
    height: 80px;
    display: flex;
    margin-top: 25px;
}
.every_img{
    width: 80px;
    height: 80px;
    background: url('../images/news_bottom.png');
    border-radius: 5px;
}
.every_img:hover{
    background: url("../images/news_top.png")
}
.every_div{
    margin-left: 20px;
}
.every_div a{
    margin-left: 20px;
    color: #666666;
}
.every_p1{
    font-size: 18px;
    font-weight: 600;
    line-height: 44px;
}
.every_p2{
    font-size: 14px;
    color: #666666;
    line-height: 25px;
}
/*底部轮播*/
.bottom{
    width: 1200px;
    height: 220px;
    display: flex;
    overflow: hidden;
    margin-top: 90px;
}

/*最底部样式*/
.footer{
    width: 1920px;
    height: 270px;
    background-color: #222222;
    margin-top: 60px;
    display: flex;
    position: relative;
}
.footer_left{
    width: 150px;
    height: 245px;
    margin-left: 420px;
    padding-top: 40px;
    /*background-color: red;*/
    box-sizing: border-box;
}
.footer_left span{
    font-size: 14px;
    line-height: 50px;
    padding-left: 4px;
    color: #666666;
}
.footer_right{
    width: 847px;
    height: 170px;
    margin-left: 145px;
    /*background-color: red;*/
}
.footer_ul{
    width: 847px;
    height: 78px;
    display: flex;
    font-size: 16px;
    line-height: 88px;
    color: #A5A6A5;
    /*border-bottom: 1px solid #666666;*/
}
.footer_li{
    margin: 0px 36px;
    color: #A5A6A5;
}
.footer_li:hover{
    color: #9F8045;
}
.footer_line{
    width: 790px;
    border: 0.8px solid #666666;
    margin-left: 55px;
}
.footer_right_content{
    width: 847px;
    height: 140px;
    margin-left: 30px;
    margin-top: 20px;
}
.footer_right_content p{
    font-size: 14px;
    color: #666666;
    line-height: 26px;
}
.footer_last{
    position: absolute;
    top: 245px;
    left: 670px;
    color: #666666;
}