
.container2 {
	width: 480px;
	height: 480px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	border: 1px solid #ccc;
}
		
.slider {
	position: absolute;
}
		
.slider li {
	list-style: none;
	display: inline;
}
		
.slider img {
	width: 480px;
	height: 480px;
			/*display: block;*/
}
	
#idSlider.current {
	display: block;
}
		
.num {
	position: absolute;
	right: 5px;
	bottom: 5px;
}
		
.num li {
	float: left;
	color: #FF7300;
	text-align: center;
	line-height: 16px;
	width: 16px;
	height: 16px;
	font-family: Arial;
	font-size: 12px;
	cursor: pointer;
	overflow: hidden;
	margin: 3px 1px;
	border: 1px solid #FF7300;
	background-color: #fff;
}
#jiao{
		/*display: none;*/
	}
#left{
	   width: 35px;
	   height: 50px;
	   background-color: #555;
	   opacity: 0.6;
	   z-index: 9999;
	   display: block;
	   position: absolute;
	   top: 50%;
	   left: 20px;
	   color: white;
	   font-size: 20px;
	   line-height: 50px;
	   text-align: center;
	   text-decoration: none;

}
#right{
		width: 35px;
		height: 50px;
		background-color: #555;
		opacity: 0.6;
		z-index: 9999;
		display: block;
		position: absolute;
		top: 50%;
		right: 20px;
		color: white;
		font-size: 20px;
		line-height: 50px;
		text-align: center;
		text-decoration: none;

}